<% provide(:title, '') %>
<%= link_to "Home", root_path %>
<div class="center hero-unit">
  <h1>Welcome to Note Sharing in Peddie</h1>

  <h2>
    This is the home page for note sharing website for SB Zui. 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
