<% provide(:title, '') %>
<%= link_to "Home", root_path %>
<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    sample application.
  </h2>

  <%= link_to "Sign up nowg!", 'signup_path', class: "btn btn-large btn-primary" %>
</div>
